@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato&family=Overlock+SC&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&family=Merienda&family=Montserrat&display=swap');

html, body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Scrollbar Customs */
/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgb(233, 233, 233);
} */
/* Navbar */
.navbar .navbar-nav{
  color: #62626b;
  font-size: 1.3em;
  padding: 20px;
}
.nav-link {
  margin-right: 50px;
  font-weight: 500;
}
#main, #about, #portfolio, #contact, #cv {
  height: 100vh;
}
/* Main Area */

#main {
  position: relative;
  background-image: url(../img/coding-setup.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main h1, #main h3 {
  font-family: 'Overlock SC', cursive;
  color: white;
  /* position: relative; */
  z-index: 1;
  font-size: 50px;
}
#main::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0,.3);
}


/* About Area */
#about {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  position: relative;
}
#about::before {
  content: '';
  width: 15em;
  height: 30em;
  background-color: lightslategrey;
  position: absolute;
  left: 10%;
  top: 28%;
}
#about::after {
  content: '';
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 5%;
  top: 24%;
}
#about img {
  margin: 10em 0 0 3em;
  width: 20em;
  position: absolute;
}
#about h2 {
  font-size: 2.5rem;
  padding-top: 3em;
}
#about p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-size: 1.2rem;
}
/* Portfolio Area */
#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  /* border: 1px solid black; */
}
#portfolio::before {
  content: 'Portfolio';
  font-size: 5em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  transform: rotate(-90deg);
  position: absolute;
  top: 5em;
  left: -2.1em;
  letter-spacing: 10px;
}
#portfolio::after {
  content: 'Portfolio';
  font-size: 5em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  transform: rotate(-90deg);
  position: absolute;
  top: 5.1em;
  left: -2em;
  letter-spacing: 10px;
}
#portfolio .card-columns{
  padding: 10px 5em;
  /* margin: 10px 2em; */
  top: 10em;
  right: 2em;
  width: 80%;
  position: absolute;
  /* border: 1PX SOLID rgb(99, 76, 76); */
}
/* Icons */
.icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10em;
  right: 50px;
  font-size: 1.8em;
}
.icons i {
  margin-bottom: 20px;
}
.icons i:hover {
  color: rgb(150, 156, 154);
}
/* Category */
.category {
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  color: rgb(192, 192, 192);
  position: absolute;
  /* right: 10em; */
  bottom: 3em;
}
.category li {
  padding: 0 10px 0 0;
  margin: 0 10px 10px 20px;
  font-size: 1.2em;
  list-style: none;
}
.category .cat-1 {
  margin-left: -5px;
}
/* Download CV */
#cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.text {
  width: 600px;
  height: 300px;
  position: relative;
}
#cv h2, #cv p, #cv a {
  position: absolute;
}
#cv h2:first-child, #cv h2:nth-child(2) {
  color: rgb(173, 173, 173);
  font-family: 'Montserrat', sans-serif;
}
#cv h2:first-child {
  top: 1.5em;
  font-size: 5rem;
  transform: rotate(-90deg);
}
#cv h2:nth-child(2) {
  top: 1.2em;
  left: 3.2em;
  font-size: 3rem;
  color: rgb(11, 57, 65);
}
#cv h2:nth-child(3) {
  color: lightslategray;
  top: 0.7em;
  left: 1.1em;
  font-size: 8rem;
  font-family: 'Merienda', cursive;
}
#cv h2:nth-child(4) {
  font-size: 3em;
  top: 4.5em;
  right: 3em;
  font-weight: 400;
  color: rgb(11, 57, 65);
  font-family: 'Bellota Text', cursive;
}
/* #cv p {
  top: 10em;
} */
#cv a {
  color: white;
  background-color: rgb(174, 184, 194);
  padding: 20px;
  border-radius: 30px;
  bottom: -5em;
  left: 15em;
  text-decoration: none;
  font-weight: 500;
}
#cv a:hover {
  font-weight: 700;
  color: lightslategray;
  background-color: white;
  border:1px solid lightslategray;
}
.circle {
  background-color: white;
  border-radius: 50%;
}
/* Socmed Area */
#contact {
  display: flex;
  justify-content: center;
}
.socmed {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
  align-items: center;
  font-size: 5em;
  position: relative;
}
#contact h2 {
  position: absolute;
  /* left: 3em; */
  text-align: center;
  top: 1em;
  margin: 3em ;
  font-size: 0.7em;
  font-family: 'Caveat Brush', cursive;
}
.socmed a {
  margin-top: 2em;
  text-decoration: none;
  height: 1.8em;
  position: relative;
}
.socmed i {
  color: #62626b;
  display: inline-block;
}
.socmed i:hover {
  color: #222;
  text-shadow: 2px 2px 5px rgb(172, 170, 170);
}
.socmed span {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  color: black;
  font-weight: 500;
}
/* Footer */
#footer {
  background-color: black;
  height: 5rem;
  text-align: center;
  color: white;
  line-height: 4rem;
  /* bottom: 0; */
  /* margin-bottom: -100px; */
}
/* Web Responsive */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 700px) {
   #main h1, #main h3 {
     font-size: 20px;
   }
   #about {
     height: 150vh;
   }
   #about img {
     width: 200px;
     margin: -25em 0 0 2em;
   }
   #about::before {
     top: 3em;
     left: 10px;
     /* right: 0; */
     width: 20rem;
     height: 8em;
   }
   #about::after {
     top: 20em;
     left: 10em;
     /* right: 0; */
     /* border: 1px solid black; */
   }
   .about {
     width: 100%;
     position: absolute;
     margin: -8em 0 0 18px;
    }
    #portfolio {
      height: 500vh;
      /* border: 1px solid black; */
    }
    #portfolio .card-columns {
     margin: 15em 1em;
     padding: 1em;
   }

   #portfolio::before {
     left: 20%;
     top: 0;
     font-size: 1.5rem;
     transform: rotate(0);
   }
   #portfolio::after {
     left: 21%;
     top: 3px;
     font-size: 1.5rem;
     transform: rotate(0);
   }
   .icons {
    font-size: 2rem;
    flex-direction: row;
    width: 100px;
    top: 7em;
    right: 35%;
    font-size: 1.5em;
    justify-content: space-between;
   }
   .icons i {
     margin-bottom: 0;
   }
   .category {
     /* border: 1px solid black; */
     /* margin: 0 auto; */
     /* position: absolute; */
     top: 2.5em;
     left: 5%;
     font-size: 1rem;
     /* display: flex; */
     align-items: center;
     justify-content: center;
     width: 90%;
     height: 100px;
     padding-left: 15px;
    }
    .category li {
      margin: 0px 10px;
      padding: 0;
      
    }
    #cv {
      height: 80vh;
      /* bottom: 1em; */
    }
    #cv .text {
      /* display: flex; */
      /* align-items: center; */
      width: 80%;
      /* border: 1px solid black; */
      padding: 0;
    }
    #cv h2:first-child, #cv h2:nth-child(2) {
      font-size: 35px;
      left: 10px;
    }
    #cv h2:nth-child(2) {
      top: 20px;
      left: 2em;
    }
    #cv h2:nth-child(3) {
      font-size: 50px;
      top: 1em;
      left: 1.4em;
    }
    #cv h2:nth-child(4) {
      font-size: 30px;
      top: 3.2em;
      right: 2em;
    }
    #cv a {
      padding: 10px;
      bottom: 7em;
      left: 35%;
    }
    #contact {
      height: 50vh;
      width: 100%;
      display: relative;
    }
    #contact .socmed {
      flex-wrap: wrap;
      margin-bottom: 50px;
      /* border: 1px solid blue; */
      padding: 0;
      position: none;
      /* background: grey; */
    }
    .socmed a {
      margin: 0 10px;
      height: 120px;
      position: none;
      /* border: 1px solid red; */
      /* position: absolute; */
    }
    .socmed span {
      margin-left: -10px;
    }
    .socmed i {
      font-size: 50px;
      /* margin-top: 20px; */
    }
    #contact h2 {
      font-size: 30px;
      margin: -1em 0 0 0;
      /* padding: 20px; */
      top: 0;
    }
    #footer {
      /* border: 1px solid red; */
      background-color: black;
      height: 5rem;
      width: 100%;
      text-align: center;
      color: white;
      line-height: 4rem;
      /* position: relative; */
      /* bottom: 0; */
      /* margin-bottom: -100em; */
    }
  }

/* Medium devices (tablets, 750px and up) */
/*@media (max-width: 800px) {
  #main h1 {
    font-size: 20px;
    left: 30%;
    top: 6em;
  }

  #main .black {
    top: 8em;
    left: 5em;
    width: 200px;
    height: 200px;
  }

  #main .white {
    width: 200px;
    height: 200px;
    left: 8em;
    top: 12em;
  }

  .white::after {
    width: 200px;
    height: 1px;
    box-shadow: -10px 20em 40px 20px rgb(235, 232, 232);
  }

  #main h3 {
    top: 20em;
    font-size: 1em;
  }

  .line {
    display: none;
  }

  #about img {
    width: 150px;
    margin: 25em 12em 0 12em;
  }

  #about::before {
    top: 3em;
    left: 10%;
    width: 20rem;
    height: 8em;
  }

  #about::after {
    top: 8em;
    left: 0;
    transform: scale(0.9);
  }

  .about {
    width: 400px;
    margin: -5em 0 0 20px;
  }

  #portfolio .card-columns {
    position: absolute;
    width: 30em;
    right: 0;
    margin: 35em 0;
    padding: 1em 1em;
  }

  #portfolio::before {
    left: 4.9em;
    top: 16em;
    font-size: 1.5rem;
    transform: rotate(0);
  }

  #portfolio::after {
    left: 5em;
    top: 16.2em;
    font-size: 1.5rem;
    transform: rotate(0);
  }

  .icons {
    font-size: 2rem;
    flex-direction: row;
    width: 100px;
    top: 18em;
    right: 8em;
    font-size: 1.5em;
    justify-content: space-between;
  }

  .icons i {
    margin-bottom: 0;
  }

  .category {
    top: 30em;
    left: 2.5em;
  }

  .category li {
    font-size: 1rem;

  }

  .category .cat-1 {
    margin-left: 5px;
  }

  #cv {
    border: 1px solid black;
    bottom: 1em;

  }

  .text {
    width: 400px; */
    /* position: unset; */
    /* border: 1px solid grey; */
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
  
}*/

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  
}*/