@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato&family=Overlock+SC&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&family=Merienda&family=Montserrat&display=swap');

html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

/* Scrollbar Customs */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgb(233, 233, 233);
}


header {
  height: 100vh;
  background: black;
  position: relative;
  z-index: -2;
}

.main-picture {
  width: 500px;
  transform: rotateY(180deg) scale(1.5);
  position: absolute;
  top: -120px;
  left: 0px;
}
.title, .next, nav {
  color: white;
  position: absolute;
}
.title {
  width: 500px;
  right: 10%;
  bottom: 20%;
  text-align: right;
}
.title h1 {
  font-size: 50px;
}
.title h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: -30px;
}
.title p {
  margin-top: 50px;
}
.next {
  right: 0px;
  display: flex;
  align-items: center;
  height: 100%;
}

.next i {
  color: black;
  font-size: 32px;
  padding: 20px;
}
.next img {
  position: absolute;
  right: -130px;
  height: 100%;
  z-index: -1;
}
/* .next:after {
  content: '';
  width: 50px;
  height: 50px;
  background: blue;
  position: absolute;
  right: 0px;
} */
nav {
  right: 0;
  width: 100%;
}
header ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
li {
  font-size: 18px;
  list-style: none;
  margin: 20px 30px;
}
a {
  text-decoration: none;
  color: white;

}
